<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="local/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="a.js"></script>
<body>
        <!-- 表单 -->
        <div class="container">
            <form action="javascript:;" method="post">
                <div class="label">文章标题</div>
                <div class="input">
                    <input type="text" name="title" placeholder="请输入文章标题" class="title">
                </div>
                <div class="label">文章摘要</div>
                <div class="input">
                    <textarea name="abstract" class="abstract" placeholder="请输入文章摘要"></textarea>
                </div>
                <div class="label">文章内容</div>
                <div class="input">
                    <textarea name="content" class="content" placeholder="请输入文章摘要"></textarea>
                </div>
                <div class="label">作者</div>
                <div class="input">
                    <input type="text" name="author" placeholder="请输入文章作者" class="author">
                </div>
            </form>
        </div>
    <button onclick="saveArticle()">立即发布</button>
</body>
</html>

